body {
    background-image: url("https://i.ibb.co/BVc8GL5/lineas-2.jpg");
    /*background-image: url("https://i.ibb.co/ZWn9PRZ/estrellasconaparato.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center
    }
@media(orientation:landscape){
}
.page{
  border-color: blue;
  border-style: dotted;
  display: none;
  border-style: solid;
  border-color: red;
  margin-top: 17%

}
.loginPage{
  margin: 2%;
  background-color: black;
  text-align: center;
  text-decoration-color: aliceblue;
  font-weight: bold;
  font-family: 'Tahoma';
}

/*.centrar un elemento {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}*/
