@media(orientation:landscape){
}
body {
    background-image: url("https://i.ibb.co/BVc8GL5/lineas-2.jpg");
    width: 100%;
    text-align: center;
    display: block;
    }

.page{
  border-color: blue;
  border-style: dotted;
  display: none;
  margin-top: 17%

}
.loginPage, .option, .search, .seachByWord, .returnFromId, .return, .returnId{
  margin: 2%;
  background-color: rgb(22, 145, 138);
  text-align: center;
  font-weight: bold;
  font-family: 'Tahoma';
  font-size: medium;
  border-style: solid;
  border-radius: 7px;
  color: rgb(39, 173, 43);
  text-decoration-color: rgb(39, 173, 43);
  border-color: black;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color: rgb(104, 117, 128);
}

IMG {
  width:100px;
  height:75px;
  margin:10px 10px 10px 10px;
}

.cardsFiltered{
  width:200px;
  height: 350px;
  float:right;
  background-color: aliceblue;
  border-color: black;
  margin: 1.7%;
  border-style: solid;
  font-weight: bold;
  font-family: 'Tahoma';

}
